{
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "all",
        "semi": false
      }
    }
  ]
}
