@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* @apply bg-color-black text-color-white; */
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
  }
}

@layer components {
  .container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 40px 0;
  }

  @media (max-width: 1200px) {
    .container {
      padding: 40px;
    }
  }

  @media (max-width: 600px) {
    .container {
      padding: 40px 20px;
    }
  }

  .btn {
    @apply bg-color-area text-color-white cursor-pointer font-bold;
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
  }

  .btn:hover {
    @apply bg-color-hover;
  }

  .btn-primary {
    @apply bg-color-primary text-color-black;
  }

  .btn-primary:hover {
    @apply bg-color-hover text-color-white;
  }

  .btn-circle {
    @apply flex justify-center items-center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }

  .skeleton {
    @apply relative overflow-hidden;
    border-radius: 10px;
  }

  .skeleton.skeleton-dark {
    @apply bg-color-area;
  }

  .skeleton::after {
    @apply absolute top-0 left-0 w-full h-full;
    content: "";
    transform: translateX(100%);
    animation: skeleton-loader 1s infinite;
  }

  .skeleton.skeleton-dark::after {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.02),
      rgba(255, 255, 255, 0)
    );
  }

  .skeleton.skeleton-light::after {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.02)
    );
  }

  @keyframes skeleton-loader {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .chatbot {
    --position-bottom: 20px;
    --position-right: 40px;
  }

  @media (max-width: 600px) {
    .chatbot {
      --position-right: 20px;
    }
  }

  .chats {
    width: calc(100% - var(--position-right) * 2);
    bottom: calc(var(--position-bottom) + 50px + 14px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    right: var(--position-right);
  }
  .chat-starter {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    bottom: var(--position-bottom);
    right: var(--position-right);
  }

  .assistant-photo {
    color: rgba(255, 255, 255, 0.3);
    bottom: calc(100% + 4px);
  }
}

@layer utilities {
  .font-Oswald {
    font-family: "Oswald", sans-serif;
  }

  .bg-header-dark {
    background-color: rgba(14, 17, 27, 0.9);
  }

  .bg-header-light {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .bg-movie-info {
    background-color: rgba(14, 17, 27, 0.3);
  }

  .max-h-chats-ul {
    max-height: calc(100vh - 340px);
  }
}
