{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.html", "*.css", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
