/* Common */
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #1d1d1d;
  height: 10000px;
}

img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  color: #1d1d1d;
  display: block;
}

.inner {
  position: relative;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  height: 24px;
  padding: 0 10px;
  border-radius: 100px;
  background-color: #0171e3;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  box-shadow: 0 0 0 2px #81b9f1;
}

/* Header Section */

header {
  background-color: #3a3a3a;
}

header > .inner {
  max-width: 1020px;
}

header ul.menu {
  display: flex;
  height: 44px;
  justify-content: space-between;
}

header ul.menu > li {
  position: relative;
  display: flex;
  z-index: 1;
  transition: 0.4s;
}

header ul.menu > li > a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #f5f5f5;
  opacity: 0.8;
}

header ul.menu > li > a:hover {
  opacity: 1;
}

header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  text-indent: -9999px;
}

header ul.menu > li.apple-logo {
  background-image: url('../images/header_apple.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}

header ul.menu > li.search-starter {
  background-image: url('../images/header_search.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}

header ul.menu > li.basket-starter {
  background-image: url('../images/header_bag.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}

/* Header section - basket dropdown */

header .basket {
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  top: calc(100% + 4px);
  right: -7px;
  width: 290px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  transition: all 0.4s;
  opacity: 0;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket > .arrow {
  position: absolute;
  width: 40px;
  height: 20px;
  top: -20px;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
}

header .basket > .arrow::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: rotateZ(45deg);
  transform-origin: 0 0;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}

header .basket > .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}

header .basket > ul {
  margin-top: 10px;
}

header .basket > ul > li {
  border-top: 1px solid #d2d2de;
}

header .basket > ul > li > a {
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}

header .basket > ul > li > a:hover {
  text-decoration: underline;
}

/* Header Section - Search bar */

header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

header .search {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
}

header .search .shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header .search .textfield {
  position: relative;
}

header .search .textfield input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: #fff;
}

header .search .textfield .search-icon {
  position: absolute;
  width: 40px;
  height: 44px;
  top: 0;
  left: 0;
  background-image: url('../images/header_search.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

header .search .textfield .search-closer {
  position: absolute;
  width: 40px;
  height: 44px;
  top: 0;
  right: 0;
  background-image: url('../images/header_close.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

header .search .autocompletes {
  position: absolute;
  top: 44px;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
}

header .search .autocompletes > h3 {
  font-size: 12px;
  color: #6e6e6e;
  margin-top: 12px;
  margin-bottom: 8px;
}

header .search .autocompletes > ul > li > a {
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

header .search .autocompletes > ul > li:hover > a {
  background-color: #f5f5f5;
  color: #0071e3;
}

header .search .textfield .search-closer:hover {
  opacity: 1;
}

header .search .textfield input,
header .search .autocompletes > h3,
header .search .autocompletes > ul > li {
  transition: 0.4s;
  opacity: 0;
  transform: translate(100px, 0);
}

/* Header Section - Search Bar(Active)  */

header.searching ul.menu li {
  transform: scale(0.7);
  opacity: 0;
}

header.searching .search-wrap {
  opacity: 1;
  visibility: visible;
}

header.searching .search .textfield input,
header.searching .search .autocompletes > h3,
header.searching .search .autocompletes > ul > li {
  opacity: 1;
  transform: translate(0, 0);
}

header.searching .search .autocompletes > h3 {
  transform: translate(0, 0);
  opacity: 1;
}

/* Nav Section */

nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}

nav > .inner {
  max-width: 1000px;
  display: flex;
  height: 52px;
  align-items: center;
}
nav h1 {
  font-size: 22px;
  font-weight: 500;
  flex-grow: 1;
}

nav ul.menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
  align-items: center;
}

nav ul.menu li:first-of-type {
  user-select: none;
  font-size: 11px;
  opacity: 0.5;
}

nav ul.menu li .description {
  padding: 6px;
  font-size: 11px;
}

nav ul.menu li .description:hover {
  color: #0071e3;
}
