/* Common */
body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #333;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.inner {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  padding: 4px 0;
  border-radius: 100px;
  width: 60px;
  text-align: center;
  background-color: #0171e4;
  color: white;
  font-size: 10px;
}

.btn:hover {
  opacity: 0.7;
}

/* Header Section */

header {
  background-color: #3a3a3a;
}

header > .inner {
  max-width: 1020px;
}

header ul.menu {
  display: flex;
  height: 44px;
  justify-content: space-between;
}

header ul.menu > li {
  position: relative;
  display: flex;
  z-index: 1;
}

header ul.menu > li > a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #f5f5f5;
  opacity: 0.8;
}

header ul.menu > li > a:hover {
  opacity: 1;
}

header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  text-indent: -9999px;
}

header ul.menu > li.apple-logo {
  background-image: url('../images/header_apple.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}

header ul.menu > li.search-starter {
  background-image: url('../images/header_search.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}

header ul.menu > li.basket-starter {
  background-image: url('../images/header_bag.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}

/* Header section - basket dropdown */

header .basket {
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  top: calc(100% + 4px);
  right: -7px;
  width: 290px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  transition: all 0.4s;
  opacity: 0;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket > .arrow {
  position: absolute;
  width: 40px;
  height: 20px;
  top: -20px;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
}

header .basket > .arrow::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: rotateZ(45deg);
  transform-origin: 0 0;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}

header .basket > .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}

header .basket > ul {
  margin-top: 10px;
}

header .basket > ul > li {
  border-top: 1px solid #d2d2de;
}

header .basket > ul > li > a {
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}

header .basket > ul > li > a:hover {
  text-decoration: underline;
}

/* Nav Section */

nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}

nav > .inner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
nav .title {
  font-weight: 500;
  font-size: 22px;
}

nav .nav-group {
  display: flex;
  align-items: center;
}

nav .nav-group > span {
  user-select: none;
  font-size: 10px;
  color: gray;
  margin-right: 20px;
}

nav .nav-group > .description {
  margin-right: 20px;
  font-size: 11px;
}

nav .nav-group > .description:hover {
  opacity: 0.7;
}

.testbg {
  height: 1000px;
  background-color: #3a3a3a;
}
