/* Common */
body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #333;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.inner {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  padding: 4px 0;
  border-radius: 100px;
  width: 60px;
  text-align: center;
  background-color: #0171e4;
  color: white;
  font-size: 10px;
}

.btn:hover {
  opacity: 0.7;
}

/* Header Section */

header {
  background-color: #3a3a3a;
}

header > .inner {
  max-width: 1020px;
}

header .menu {
  display: flex;
  height: 44px;
  justify-content: space-between;
}

header .menu > li {
  display: flex;
}

header .menu > li > a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #f5f5f5;
  opacity: 0.8;
}

header .menu > li > a:hover {
  opacity: 1;
}

header .menu > li.apple-logo,
header .menu > li.search,
header .menu > li.basket {
  text-indent: -9999px;
  background-position: 0 13px;
}

header .menu > li.apple-logo {
  background-image: url('../images/header_apple.svg');
  background-repeat: no-repeat;
}

header .menu > li.search {
  background-image: url('../images/header_search.svg');
  background-repeat: no-repeat;
}

header .menu > li.basket {
  background-image: url('../images/header_bag.svg');
  background-repeat: no-repeat;
}

/* Nav Section */

nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}

nav > .inner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
nav .title {
  font-weight: 500;
  font-size: 22px;
}

nav .nav-group {
  display: flex;
  align-items: center;
}

nav .nav-group > span {
  user-select: none;
  font-size: 10px;
  color: gray;
  margin-right: 20px;
}

nav .nav-group > .description {
  margin-right: 20px;
  font-size: 11px;
}

nav .nav-group > .description:hover {
  opacity: 0.7;
}

.testbg {
  height: 1000px;
  background-color: #3a3a3a;
}
