body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: #333;
}

/* Header Section */

header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f6f5f1;
	width: 100vw;
	height: 120px;
	border: 0.3px solid rgba(0, 0, 0, 0.3);
	min-width: 1000px;
	z-index: 10;
}

header .content {
	max-width: 1200px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

header .content .logo {
	margin: auto 40px;
}

.bar_section {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.bar_top,
.bar_bottom {
	display: flex;
	justify-content: flex-end;
	margin: auto 40px;
	flex: 1 1 0;
}

.bar_top {
	display: flex;
}

.bar_top > * {
	display: flex;
	align-items: center;
}

.bar_top > li > a {
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-size: 13px;
	color: #656565;
}

.bar_top > * a:hover {
	color: black;
}

.bar_top .search_box {
	padding: 0;
	margin: auto 0;
	margin-left: 20px;
	position: relative;
}

.bar_top .search_box input {
	width: 35px;
	height: 35px;
	border: 1px solid #aaa;
	border-radius: 5px;
	transition: all 0.3s;
	padding: 5px;
	box-sizing: border-box;
}

.bar_top .search_box .icon {
	position: absolute;
	top: 10px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	user-select: none;
}

.bar_top .search_box:hover input::placeholder,
.bar_top .search_box input:focus::placeholder {
	opacity: 1;
}

.bar_top .search_box input:focus + .icon,
.bar_top .search_box:hover .icon,
.bar_top .search_box input::placeholder {
	opacity: 0;
}

.bar_top .search_box:hover input,
.bar_top .search_box input:focus {
	width: 150px;
}

.bar_top > li:nth-child(n + 2)::before {
	content: ' ';
	display: block;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.05);
	height: 30%;
	margin: 0 15px;
}

.bar_title {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	height: 100%;
	font-size: 13px;
	display: flex;
	padding: 10px 20px;
	border-radius: 10px 10px 0 0;
	user-select: none;
}

.bar_bottom > li:hover {
	background-color: #2c2a29;
	color: #669900;
	border-radius: 6px 6px 0 0;
}

.bar_bottom > li:hover > .bar_table {
	display: block;
}

.bar_table {
	display: none;
	position: fixed;
	top: 120px;
	left: 0;
	width: 100vw;
}

.bar_table .bar_table_top {
	background-color: #2c2a29;
	color: rgba(0, 0, 0, 0.8);
	padding: 30px;
}

.bar_table .bar_table_top > ul {
	display: flex;
}

.bar_table .bar_table_top .column_list {
	width: 220px;
}

.bar_table .bar_table_top .column_list > li:first-child {
	user-select: none;
	padding: 3px 0 12px 0;
	font-size: 14px;
	color: #fff;
}

.bar_table .bar_table_top .column_list > li:nth-child(n + 2) {
	padding: 5px 0;
	font-size: 12px;
	color: #999;
	cursor: pointer;
}

.bar_table .bar_table_top .column_list > li:nth-child(n + 2):hover {
	color: #669900;
}

.bar_table_bottom {
	padding: 30px;
	background: url('../images/main_menu_pattern.jpg');
}

.description_box {
	margin-bottom: 15px;
}

.description_box .title {
	user-select: none;
	color: #999;
	font-weight: 900;
	margin-bottom: 9px;
}

.description_box .content {
	user-select: none;
	color: #64a70b;
	margin: 4px 0 14px;
}

.badge_box {
	position: absolute;
	top: 132px;
	right: 12px;
}

/* Header - badge */

.badge {
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 10px;
}

.badge img {
	display: block;
}

/* Visual Section */

.visual {
	position: relative;
	overflow: hidden;
	margin-top: 120px;
	height: 646px;
	min-width: 1200px;
}

.visual > * {
	position: absolute;
	display: block;
}

.visual .bg {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.img_set {
	top: 100px;
	left: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img_set .text_img {
	margin-bottom: 15px;
}

.img_set .btn {
	box-sizing: border-box;
	width: 130px;
	padding: 10px;
	cursor: pointer;
	border: 2px solid #592c18;
	border-radius: 5px;
	transition: all 0.25s;
	text-align: center;
}

.img_set .btn a {
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
	text-decoration: none;
	color: #592c18;
	transition: inherit;
}

.img_set .btn:hover {
	background-color: #592c18;
}

.img_set .btn:hover a {
	color: white;
}

.spoon_img,
.food_img1,
.food_img2 {
	bottom: 0;
}

.food_img1 {
	right: 0;
}

.food_img2 {
	right: 200px;
}

.spoon_img {
	right: 450px;
}

.text_img1 {
	top: 35px;
	right: 220px;
}

.text_img2 {
	bottom: 230px;
	right: 450px;
}

/* Notice Section */

.notice_line {
	display: flex;
	min-width: 1100px;
	height: 62px;
}

.notice_line > .left {
	display: flex;
	width: 60%;
	justify-content: flex-end;
	align-items: center;
	background-color: #333333;
	color: white;
}

.notice_line .left > .title {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	margin-right: 20px;
}

.notice_line > .left > .slide_bar {
	height: 100%;
	position: relative;
	margin-right: 30px;
}

.notice_line > .left > .slide_bar > ul {
	height: 100%;
	overflow: hidden;
}

.notice_line > .left > .slide_bar > ul > li {
	height: 100%;
	display: flex;
	align-items: center;
}

.notice_line > .left > .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	border-radius: 50%;
	font-size: 20px;
	font-weight: bolder;
	background-color: #fff;
	color: #333;
}

.notice_line > .right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
}

.notice_line > .right > .title {
	font-size: 17px;
	font-weight: 700;
	margin-right: 20px;
}

.notice_line > .right > .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	border-radius: 50%;
	font-size: 20px;
	font-weight: bolder;
	background-color: #333;
	color: #fff;
}

/* Reward Section */

.rewards {
	position: relative;
	min-width: 1100px;
}

.rewards > .bg > img {
	display: block;
	width: 100%;
}

.rewards > .button_box {
	position: absolute;
	right: 20px;
	bottom: 30px;
	width: 250px;
	display: flex;
	flex-wrap: wrap;
}

.rewards > .button_box .btn {
	all: unset;
	box-sizing: border-box;
	padding: 10px;
	border: 2px solid #333;
	border-radius: 4px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	transition: all 0.25s;
}

.rewards > .button_box .btn:hover {
	background-color: #333;
	color: white;
}

.rewards > .button_box > .sign-in {
	width: 130px;
	margin-right: 10px;
}

.rewards > .button_box > .login {
	width: 110px;
}

.rewards > .button_box > .gift {
	flex-grow: 1;
	margin-top: 10px;
}

/* Youtube Section */

.youtube {
	position: relative;
	height: 700px;
	overflow: hidden;
}

.youtube > .video {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.youtube > .video > .inner {
	min-width: 1920px;
	height: 1080px;
}

.youtube > .video > .inner > iframe {
	width: 100%;
	height: 100%;
}

.youtube > .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	background: url('../images/video_cover_pattern.png');
}

.youtube > img {
	position: absolute;
}

.youtube > .img1 {
	position: absolute;
	top: 40px;
	left: 50px;
	animation: float_img 4s ease-in-out infinite alternate-reverse;
}

.youtube > .img2 {
	position: absolute;
	top: 330px;
	left: 200px;
	animation: float_img 3s ease-in-out infinite alternate-reverse;
}

@keyframes float_img {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(30px);
	}
}

/* Season-product Section */

.season-product {
	background-image: url('../images/season_product_bg.jpg');
	min-width: 1100px;
	height: 400px;
	display: flex;
}

.season-product > .content {
	display: flex;
	margin: 0 auto;
	height: 100%;
}

.season-product > .content > .right {
	margin-top: 100px;
	margin-left: 30px;
}

.season-product > .content > .right > * {
	display: block;
}

.season-product > .content > .right > img {
	margin-bottom: 20px;
}

.season-product > .content > .right > button {
	all: unset;
	width: 130px;
	padding: 10px;
	border: 2px solid #333;
	border-radius: 4px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	display: block;
	transition: 0.4s;
}

.season-product > .content > .right > button:hover {
	color: #fff;
	background-color: #333;
}

/* Reserve-coffee Section */

.reserve-coffee {
	background-image: url('../images/reserve_bg.jpg');
	display: flex;
	overflow: hidden;
}

.reserve-coffee > .content {
	display: flex;
	align-items: center;
	min-width: 1100px;
	height: 400px;
	margin: 0 auto;
}

.reserve-coffee > .content > .logo {
	margin-right: 50px;
}

.reserve-coffee > .content > .description_box {
	display: flex;
	flex-direction: column;
}

.reserve-coffee > .content > .description_box > img {
	margin-bottom: 10px;
}

.reserve-coffee > .content > .description_box > button {
	all: unset;
	width: 130px;
	padding: 10px;
	border: 2px solid #333;
	border-radius: 4px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	display: block;
	transition: 0.4s;
	color: #d9aa8a;
	border-color: #d9aa8a;
}

.reserve-coffee > .content > .description_box > button:hover {
	color: fff;
	background-color: #d9aa8a;
}
