body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  all: unset;
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn.btn--brown {
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  color: #592c18;
}

.btn.btn--brown:hover {
  background-color: #592c18;
  color: white;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: white;
  border-color: white;
}

.btn.btn--white:hover {
  background-color: white;
  color: #333;
}

.btn.btn--reverse {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse:hover {
  color: #333;
  background-color: inherit;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* Header Section */

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f5f1;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #c8c8c8;
  min-width: 1000px;
  z-index: 11;
}

header .inner {
  height: 100%;
}

header .inner .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 75px;
  margin: auto 40px;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu > li {
  position: relative;
}

header .sub-menu > li:nth-child(n + 2)::before {
  content: ' ';
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

header .sub-menu > li > a {
  display: block;
  padding: 11px 16px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #656565;
}

header .sub-menu > li > a:hover {
  color: black;
}

header .sub-menu > .search {
  position: relative;
  margin: auto 0;
}

header .sub-menu > .search > input {
  width: 35px;
  height: 35px;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 5px;
  box-sizing: border-box;
}

header .sub-menu .search > span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  height: 24px;
  margin: auto;
  transition: all 0.3s;
  user-select: none;
}

header .sub-menu .search:hover input::placeholder,
header .sub-menu .search input:focus::placeholder {
  opacity: 1;
}

header .sub-menu .search input:focus + span,
header .sub-menu .search:hover span,
header .sub-menu .search input::placeholder {
  opacity: 0;
}

header .sub-menu .search:hover input,
header .sub-menu .search input:focus {
  width: 150px;
}

header .main-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

header .main-menu > .item {
  padding: 10px 12px 24px 8px;
}

header .main-menu > .item > .item__title {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 100%;
  font-size: 13px;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  user-select: none;
}

header .main-menu > .item:hover {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu > .item:hover > .table {
  display: block;
}

header .main-menu .table {
  display: none;
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
}

header .main-menu .table .table__menu {
  background-color: #2c2a29;
  color: rgba(0, 0, 0, 0.8);
  padding: 30px;
}

header .main-menu .table .table__menu > .inner {
  display: flex;
}

header .main-menu .table .table__menu > .inner > li > ul {
  width: 220px;
}

header .main-menu .table .table__menu h4 {
  user-select: none;
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .table .table__menu > .inner > li > ul > li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .table .table__menu > .inner > li > ul > li:hover {
  color: #669900;
}

header .main-menu .table > .table__texture {
  padding: 30px;
  background: url('../images/main_menu_pattern.jpg');
}

header .main-menu .table > .table__texture .description {
  margin-bottom: 15px;
}

header .main-menu .table > .table__texture .description > .title {
  user-select: none;
  color: #999;
  font-weight: 900;
  margin-bottom: 9px;
}

header .main-menu .table > .table__texture .description > .content {
  user-select: none;
  color: #64a70b;
  margin: 4px 0 14px;
}

/* Header - badge */

header > .badge {
  position: fixed;
  top: 132px;
  right: 12px;
}

header > .badge > .item {
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

header > .badge > .item > img {
  display: block;
}

/* Visual Section */

.visual {
  position: relative;
  margin-top: 120px;
  background: url('../images/visual_bg.jpg') center/cover no-repeat;
}

.visual > .inner {
  height: 646px;
}

.visual img {
  display: block;
}

.visual .title {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual .title > .logo {
  margin-bottom: 25px;
}

.visual .title > .btn {
  border: 2px solid #592c18;
  border-radius: 5px;
}

.visual .cup1.food {
  position: absolute;
  top: 50px;
  right: 0;
}

.visual .cup1.text {
  position: absolute;
  top: 30px;
  right: 250px;
}

.visual .cup2.food {
  position: absolute;
  top: 130px;
  right: 200px;
}

.visual .cup2.text {
  position: absolute;
  bottom: 210px;
  right: 450px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 250px;
}

.visual .fade-in {
  opacity: 0;
}

/* Notice Section */

.notice {
  position: relative;
  overflow: hidden;
}

.notice .bg__left {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 50%;
  background-color: #333333;
}

.notice .bg__right {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 50%;
  background-color: #f6f5ef;
}

.notice .inner {
  display: flex;
  height: 62px;
}

.notice .inner > .left {
  display: flex;
  width: 60%;
  height: 100%;
  align-items: center;
  background-color: #333333;
}

.notice .inner > .left > h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
  text-wrap: nowrap;
}

.notice .inner > .left > .swiper {
  height: 100%;
  margin: auto;
}

.notice .inner > .left > .swiper > .swiper-wrapper > .swiper-slide {
  display: flex;
  align-items: center;
}
.notice .inner > .left > .swiper > .swiper-wrapper a {
  color: #fff;
  font-size: 15px;
}

.notice .inner > .left > a {
  display: flex;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.notice .inner > .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.notice .inner > .right > .title {
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .inner > .right > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
}

.notice .inner > .right > .icon > span {
  font-size: 30px;
  font-weight: bolder;
  color: #333333;
  cursor: pointer;
}

/* Promotion Section */

.promotion {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 693px;
  background-color: #f6f5ef;
  transition: height 0.5s;
}

.promotion.hide {
  height: 0;
}

.promotion > .swiper {
  position: absolute;
  width: calc(819px * 3 + 20px);
  left: 50%;
  top: 40px;
  margin-left: calc((-819px * 3 + 20px) / 2);
}

.promotion > .swiper > .swiper-wrapper > .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  transition: all 0.5s;
  transition-delay: 0.15s;
}

.promotion > .swiper > .swiper-wrapper > .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.promotion > .swiper > .swiper-wrapper > .swiper-slide > .btn {
  transform: translateY(-55px);
}

.promotion > .btn__box {
  box-sizing: border-box;
  position: absolute;
  top: 300px;
  width: 1100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.promotion > .btn__box div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #333333;
  border: 2px solid #333333;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.promotion > .btn__box > div:hover {
  color: white;
  background-color: #333;
}

.promotion .swiper-pagination {
  margin-bottom: 20px;
}

.promotion .swiper-pagination-bullet {
  background: url('../images/promotion_slide_pager.png') center/cover no-repeat;
  width: 14px;
  height: 14px;
}
.promotion .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: url('../images/promotion_slide_pager_on.png') center/cover
    no-repeat;
}

.promotion .btn__box > .swiper-button-prev::after,
.promotion .btn__box > .swiper-button-next::after {
  all: unset;
}

/* Reward Section */

.rewards {
  position: relative;
  height: 241px;
}

.rewards > .inner {
  position: relative;
  height: 100%;
  background: url('../images/rewards.jpg');
}

.rewards > .bg__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #272727;
}

.rewards > .bg__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #d5c898;
}

.rewards .button__box {
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .button__box > .sign-in {
  width: 130px;
  margin-right: 10px;
}

.rewards .button__box > .login {
  width: 110px;
}

.rewards .button__box > .gift {
  flex-grow: 1;
  margin-top: 10px;
}

/* Youtube Section */

.youtube {
  position: relative;
  height: 700px;
  overflow: hidden;
}

.youtube > .video {
  width: 1920px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(1920px / -2);
  margin-top: calc((1920px * 56.25) / -200);
}

.youtube > .video::before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 56.25%;
}

.youtube > .video__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/video_cover_pattern.png');
}

.youtube #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube > .inner {
  height: 100%;
}

.youtube > .inner > .floating {
  position: absolute;
}

.youtube .floating1 {
  top: 40px;
  left: 50px;
}

.youtube .floating2 {
  top: 330px;
  left: 200px;
}

.youtube .floating3 {
  right: 0;
  bottom: -150px;
}

/* Season Product Section */

.season-product {
  background-image: url('../images/season_product_bg.jpg');
  min-width: 1100px;
  height: 400px;
  display: flex;
}

.season-product .product {
  position: absolute;
  top: 0;
  left: 0;
}

.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 110px;
}

.season-product .text-group > .text1 {
  margin-bottom: 15px;
}
.season-product .text-group > .text2 {
  margin-bottom: 15px;
}

/* Reserve Coffee Section */

.reserve-coffee {
  background-image: url('../images/reserve_bg.jpg');
}

.reserve-coffee > .inner {
  height: 400px;
}

.reserve-coffee .logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group {
  position: absolute;
  top: 120px;
  left: 200px;
}

.reserve-coffee .product {
  position: absolute;
  right: 0;
  top: 0;
}

/* Pick Your favorite Section */

.pick-your-favorite {
  background: url('../images/favorite_bg.jpg') center/cover no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}

.pick-your-favorite .text-group {
  width: 362px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pick-your-favorite .text-group > .text1 {
  margin-bottom: 30px;
}

.pick-your-favorite .text-group > .text2 {
  margin-bottom: 30px;
}

/* Reserve Store Section */

.reserve-store {
  background: url('../images/reserve_store_bg.jpg') center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.reserve-store > .medal {
  width: 334px;
  height: 334px;
  perspective: 400px;
}

.reserve-store > .medal > .front,
.reserve-store > .medal > .back {
  width: 334px;
  height: 334px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
  backface-visibility: hidden;
}

.reserve-store > .medal > .front {
  transform: rotateY(0deg);
}

.reserve-store > .medal > .back {
  transform: rotateY(180deg);
}

.reserve-store > .medal:hover > .front {
  transform: rotateY(180deg);
}

.reserve-store > .medal:hover > .back {
  transform: rotateY(360deg);
}

.reserve-store > .medal > .back > .btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Find Store Section */

.find-store {
  background: url('../images/find_store_bg.jpg') center/cover no-repeat;
  display: flex;
}

.find-store > .content {
  position: relative;
  min-width: 1100px;
  margin: 0 auto;
  height: 400px;
}

.find-store > .content > .description_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 540px;
  margin-top: 120px;
}

.find-store > .content > .description_box > * {
  opacity: 0;
  transform: translateX(250px);
  transition: 1s ease-in-out;
}

.find-store > .content > .description_box > img {
  margin-bottom: 25px;
}

.find-store > .content > .description_box > img:nth-of-type(2) {
  transition-delay: 0.3s;
}

.find-store > .content > .description_box > .btn {
  transition-delay: 0.6s;
}

.find-store > .content > img {
  position: absolute;
}

.find-store > .content > .picture1,
.find-store > .content > .picture2 {
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-250px);
  transition: 1s ease-in-out;
}

.find-store > .content > .picture1 {
  top: -50px;
}

.find-store > .content > .picture2 {
  top: 150px;
  left: 250px;
  transition-delay: 0.3s;
}

.find-store > .content > .texture1 {
  top: 0;
  left: 350px;
}

.find-store > .content > .texture2 {
  bottom: 0;
  right: 20px;
  transition-delay: 0.3s;
}

.find-store > .content.active > .picture1,
.find-store > .content.active > .picture2,
.find-store > .content.active > .description_box > * {
  transform: translateX(0);
  opacity: 1;
}

/* Awards Section */

.awards {
  display: flex;
  justify-content: center;
  background-color: #272727;
  overflow: hidden;
  padding: 30px 0;
}

.awards > .content {
  display: flex;
  align-items: center;
  min-width: 1300px;
}

.awards > .content > button {
  all: unset;
  width: 42px;
  margin: 0 auto;
  height: 42px;
  border: 2px solid #686868;
  color: #686868;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.awards > .content > button.left {
  margin-right: 40px;
}

.awards > .content > button.right {
  margin-left: 40px;
}

.awards > .content > button:hover {
  background-color: #686868;
  color: #272727;
}

.awards > .content > .slider_wrapper {
  width: 1100px;
  min-width: 1100px;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
}

.awards > .content > .slider_wrapper > .slider {
  display: flex;
  transition: 0.5s ease-out;
}

.awards > .content > .slider_wrapper > .slider > .item {
  width: 220px;
  min-width: 220px;
  display: flex;
}

.awards > .content > .slider_wrapper > .slider > .item > img {
  height: 40px;
  margin: 0 auto;
}

/* Footer Section */

footer {
  border-top: 1px solid #333333;
  display: flex;
  background-color: #272727;
  padding: 50px 0;
}

footer > .content {
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

footer > .content > .rule_list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

footer > .content > .rule_list > .item {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
}

footer > .content > .rule_list > .item:first-child {
  color: #669900;
}

footer > .content > .rule_list > .item:nth-child(n + 2)::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: #555555;
  margin: auto 0;
  margin-right: 20px;
}

footer > .content > .btn_box {
  display: flex;
  margin-bottom: 30px;
}

footer > .content > .btn_box > .btn {
  font-size: 12px;
  margin: 0 7px;
  color: #fff;
  border-color: #fff;
}

footer > .content > .btn_box > .btn:hover {
  color: #333333;
  background-color: #fff;
}

footer > .content > .business_info {
  display: flex;
}

footer > .content > .business_info > .item {
  color: #999999;
  font-size: 12px;
  padding: 10px;
}

footer > .content > .signiture_text {
  color: #999999;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

/* To-top Button */

.to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 35px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #333333;
  cursor: pointer;
  transform: translate(100px);
}

.to_top > span {
  transform: scaleX(0.9);
}
