{
  "overrides": [
    {
      "files": ["*.jsx", "*.js"],
      "options": {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all",
        "tabWidth": 4
      }
    }
  ]
}
